XML/XML DTD 24-3/ejercicio5/FAQ.DTD

<!ELEMENT FAQ (INFO,PART)>
<!ELEMENT INFO (TITULO,AUTOR,EMAIL,VERSION,FECHA)>
<!ELEMENT PART (Q*)>
<!ELEMENT Q (QTEXT,A)>
<!ELEMENT TITULO (#PCDATA)>
<!ELEMENT AUTOR (#PCDATA)>
<!ELEMENT EMAIL (#PCDATA)>
<!ELEMENT VERSION (#PCDATA)>
<!ELEMENT FECHA (#PCDATA)>
<!ELEMENT QTEXT (#PCDATA)>
<!ELEMENT A (#PCDATA)>
<!ATTLIST Q id CDATA #REQUIRED>
<!ATTLIST PART number CDATA #REQUIRED>





